In [6]:
# set also another type of data structure

In [7]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [8]:
print(my_set)

{1, 2, 3, 4, 5}

In [9]:
### Duplicate elements in a set

In [10]:
my_set = {1,2,3,4,5,6,7,8,9,5,5,6}
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
###Heterogeneous data type
mixed_set = {5,'hello',34.56,False,(1,2,3,4,5)}
print(mixed_set)

{False, 34.56, 5, 'hello', (1, 2, 3, 4, 5)}

### Set Methods

In [12]:
my_set={1,2,3,4,5,6,7}
my_set.add(6)
print(my_set)
my_set.add(4)
print(my_set)
my_set.clear()
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
set()

In [13]:
my_set = {1,2,3,4,5,6,7,8}
## set methods
## copy 
my_set=my_set.copy()
print(my_set)
#pop 
element=my_set.pop()
print(element)
## update
my_set2 = {3,8,9,5}
my_set.update(my_set2)
print(my_set)
## discard
my_set.discard(6)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}
1
{2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 4, 5, 7, 8, 9}

### set concept ###

In [14]:
set1 = {1,2,3}
set2 ={5,6,7}
# union method
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 5, 6, 7}

In [15]:
## Update methos
set1 = {1,2,3}
set2 = {2,3,4}
set2.update(set1)
print(set2)
set1.update(set2)
print(set1)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [16]:
# intersection
set1 = {1,2,3}
set2 = {2,3,4}
set3=set1.intersection(set2)
print(set3)

{2, 3}

In [17]:
set1 = {1,2,3}
set2 = {2,3,4}
set3=set2.intersection(set1)
print(set3)

{2, 3}

In [18]:
## difference 
set1 = {1,2,3}
set2 = {2,3,4}
set3=set2.difference(set1)
print(set3)

{4}

In [19]:
set1 = {1,2,3}
set2 = {2,3,4}
set3=set1.difference(set2)
print(set3)

{1}

In [20]:
set1 = {1,2,3}
set2 = {2,3,4}
set3= set1.symmetric_difference(set2)
set3= set2.symmetric_difference(set1)
print(set3)

{1, 4}

In [21]:
### isdisjoint method
set1 ={1,2,3}
set2 = {5,6}
value = set1.isdisjoint(set2)
print(value)

True

In [22]:
# issubset method
set1 ={1,2,3}
set2 = {5,6}
value = set1.issubset(set2)
print(value)

False

#####Dictionary

In [23]:
capitals ={
    "M":"M",
    "A":"A",
    "K":"B",
    "C":"T"
}
print(capitals)

{'M': 'M', 'A': 'A', 'K': 'B', 'C': 'T'}

In [24]:
marks = {
    "N":70,
    "p":100,
    "S":100,
    "N":75
}
print(marks)

{'N': 75, 'p': 100, 'S': 100}

###Dictionary Visulization

In [25]:
import pprint
from tabulate import tabulate
import json

In [26]:
employess ={
    "emp_id":[1,2,3,4,5],
    "employee_name":["A","B","C","D","E"],
    "employee_salary" :(50000,60000,70000,100000),
    "employee_address":{"city":["a1","b1","c1","d1","e1"],
                        "state":["s1","s2","s3","s4","s5"]
                                 }}

In [27]:
print(employess)

{'emp_id': [1, 2, 3, 4, 5], 'employee_name': ['A', 'B', 'C', 'D', 'E'], 'employee_salary': (50000, 60000, 70000, 100000), 'employee_address': {'city': ['a1', 'b1', 'c1', 'd1', 'e1'], 'state': ['s1', 's2', 's3', 's4', 's5']}}

In [28]:
pprint.pprint(employess)

{'emp_id': [1, 2, 3, 4, 5],
 'employee_address': {'city': ['a1', 'b1', 'c1', 'd1', 'e1'],
                      'state': ['s1', 's2', 's3', 's4', 's5']},
 'employee_name': ['A', 'B', 'C', 'D', 'E'],
 'employee_salary': (50000, 60000, 70000, 100000)}

In [29]:
headers = ["key" ,"value"]
table = tabulate(employess.items(),headers = headers,tablefmt='grid')
print(table)

+------------------+-----------------------------------------------------------------------------------+
| key              | value                                                                             |
+==================+===================================================================================+
| emp_id           | [1, 2, 3, 4, 5]                                                                   |
+------------------+-----------------------------------------------------------------------------------+
| employee_name    | ['A', 'B', 'C', 'D', 'E']                                                         |
+------------------+-----------------------------------------------------------------------------------+
| employee_salary  | (50000, 60000, 70000, 100000)                                                     |
+------------------+-----------------------------------------------------------------------------------+
| employee_address | {'city': ['a1', 'b1', 'c1', 'd1', 'e1'], 'state': ['s1', 's2', 's3', 's4', 's5']} |
+------------------+-----------------------------------------------------------------------------------+

In [30]:
print(json.dumps(employess,indent=8))

{
        "emp_id": [
                1,
                2,
                3,
                4,
                5
        ],
        "employee_name": [
                "A",
                "B",
                "C",
                "D",
                "E"
        ],
        "employee_salary": [
                50000,
                60000,
                70000,
                100000
        ],
        "employee_address": {
                "city": [
                        "a1",
                        "b1",
                        "c1",
                        "d1",
                        "e1"
                ],
                "state": [
                        "s1",
                        "s2",
                        "s3",
                        "s4",
                        "s5"
                ]
        }
}

# Dictionary Method ###

In [31]:
marks = {
    "N":70,
    "p":100,
    "S":100,
    "sn":75
}

In [32]:
# items method
items = marks.items()
print(items)

dict_items([('N', 70), ('p', 100), ('S', 100), ('sn', 75)])

In [33]:
# keys method
keys = marks.keys()
print(keys)

dict_keys(['N', 'p', 'S', 'sn'])

In [34]:
## values method #
values = marks.values()
print(values)

dict_values([70, 100, 100, 75])

In [35]:
marks1 = {
    "G":100,
    "K":90
}

In [36]:
# update method
marks.update(marks1)
print(marks)

{'N': 70, 'p': 100, 'S': 100, 'sn': 75, 'G': 100, 'K': 90}

In [37]:
values= marks.pop("N")
print(marks)

{'p': 100, 'S': 100, 'sn': 75, 'G': 100, 'K': 90}

In [38]:
# pop item
tup = marks.popiteam()
print(tup)
print(marks)

AttributeError: 'dict' object has no attribute 'popiteam'

In [39]:
# copy 
marks_copy = marks.copy()
print(marks_copy)

{'p': 100, 'S': 100, 'sn': 75, 'G': 100, 'K': 90}

In [40]:
### get method
values = marks.get("p")
print(values)

100

In [41]:
values = marks.get("N")
print(values)

None

In [42]:
## fromkeys method
seq = {1,2,3,4,5}
value = [5,6,7]

resultant_dict = dict.fromkeys(seq,value)
print(resultant_dict)

{1: [5, 6, 7], 2: [5, 6, 7], 3: [5, 6, 7], 4: [5, 6, 7], 5: [5, 6, 7]}

In [43]:
# setdefault method
resultant_dict.setdefault(6,value)
print(resultant_dict)

{1: [5, 6, 7], 2: [5, 6, 7], 3: [5, 6, 7], 4: [5, 6, 7], 5: [5, 6, 7], 6: [5, 6, 7]}

In [44]:
marks.update({'Alex':90})
marks.pop('p')
marks

{'S': 100, 'sn': 75, 'G': 100, 'K': 90, 'Alex': 90}

In [45]:
for i in marks:
    print(i," ",marks[i])

S   100
sn   75
G   100
K   90
Alex   90

In [46]:
for k,v in marks.items():
    print(k," ",v)

S   100
sn   75
G   100
K   90
Alex   90

In [53]:
marks['shyam'] = 85
marks

{'S': 100, 'sn': 75, 'G': 100, 'K': 90, 'Alex': 90, 'Geeta': 85, 'shyam': 85}

In [56]:
## change the key of 85 to geetha
try:
    for k,v in marks.items():
        if v==85:
            if "Geeta" not in marks.keys():
                marks["Geeta"]=v
                marks.pop(k)
            break
except runtimeerror as e:
    pass

In [57]:
marks

{'S': 100, 'sn': 75, 'G': 100, 'K': 90, 'Alex': 90, 'Geeta': 85, 'shyam': 85}

In [58]:
marks = {'shyam' : 85,'Rita':80,'Abdul':75,'Alex':90}
first_item = list(marks.items())[0]
marks['Geetha']=first_item[1]
del marks[first_item[0]]
print(marks)

{'Rita': 80, 'Abdul': 75, 'Alex': 90, 'Geetha': 85}

In [68]:
marks = {
    'A':80,
    'B':80
}
for k,v in marks.items():
       if v == 80:
            if "C" not in marks.keys():
                marks["C"]=v
                marks.pop(k)
                break

In [69]:
marks

{'B': 80, 'C': 80}